  .promo-banner {
     width: 50%;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;
  }
  .promo-banner img{
    display: block;
    position: relative ;
    object-fit: cover;
    z-index: -1;
  }
